<nav class="flex justify-between items-center p-4 bg-gray-800 text-gray-400">
  <div>
    <p class="uppercase text-sm text-typograpy-100">ARS</p>
  </div>
  <ul class="flex gap-4 items-center">
    <li>
      <a href="/" class="btn bg-gray-900" aria-current="page">Home</a>
    </li>
    <li><a href="/10k-prettify" class="btn">10-K prettify</a></li>
    <li><a href="/roic" class="btn">ROIC</a></li>
  </ul>
</nav>

<style>
  a[aria-current='page'] {
    background-color: var--(green-500);
    color: white;
  }
</style>
